/************************/
/*****    !COLORS   *****/
/************************/
$white = #fff
$black = #000
$grey = lighten($black, 25%)
$dark-blue = #1a234e
$gold = #e6cc70 

$link-color = lighten($dark-blue, 25%)
$error-color = #dd4D33;

$light-grey = #ececec
$light-grey2 = shade($light-grey, 15%)

/************************/
/***** !SOCIAL MEDIA ****/
/************************/
$fb-blue = #3B5999
$fb-blue-hover = lighten($fb-blue, 20%)
$google-red = #dd4b39
$google-red-hover = lighten($google-red, 10%)

$fb-blue-dark = #4D68A1
$google-red-dark = #DD4D3B