/************************/
/*****    !COLORS   *****/
/************************/
$white = #fff
$black = #000

/************************/
/***** !SOCIAL MEDIA ****/
/************************/
$fb-blue = #3B5999
$fb-blue-hover = lighten($fb-blue, 20%)
$google-red = #dd4b39
$google-red-hover = lighten($google-red, 10%)

$fb-blue-dark = #4D68A1
$google-red-dark = #DD4D3B