// Map
$map-pane-width = 751
$map-marker-window-width = 250

// Activities
$activities-list-width = 800
$activity-sticky-height = 35
$activity-search-height = 80

// Misc
$display-tab-height = 45

// Events
$users-going-width = 55



$root-font-size = 14
$root-font-px = unit($root-font-size, 'px')

$button-font-size = 15

$max-width = 960px

$default-btn-padding = 10
$default-padding = 15
$reduced-padding = 10

$input-padding = 12

/************************/
/*****  !DEFAULTS   *****/
/************************/
$default-max-width = $max-width

$cta-color = $orange
$cta-color-2 = $cyan

//  Sizes
$nav-height = 50
$subnav-height = 35
$notification-toggle-height = 36 // the new notifications box in the nav


/***************************/
/*****  !IMAGE SIZES   *****/
/***************************/
$img-sq-thumb = 42
$img-sz-default = 150