.nav-footer
    background: #1a234e;
    color: #fff;
    padding 1.25em

.foot-wrap
    display flex
    justify-content space-between

    ul
        margin 0

.menu-footer-container
    &,
    .menu-item
        display inline-block
    
    .menu-item
        padding 0 0.5em
    
    a
        color $white
        text-decoration underline
        