.search-mod
    float: right;

    input
    border-radius   : 0;

/*form*/.search-form-bg
    background: #FFF;
    overflow: hidden;
    height: 41px;
    border-radius: 0.25rem;

.search-overlay
    display: none;
    z-index: -1;

    .inner-wrap
        position: relative;
        min-height: 100%;
        text-align: center;

    &._appended
        display: block;
        overflow: scroll;
        width: 100%;
        height: 100%;
        z-index: 9876;
        position: fixed;
        top: 0;
        left: 0;

._appended
    .bg-color
        background: rgba(140, 153, 161, .95);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

    .content
        display: inline-block;
        text-align: left;
        margin-top: 5em;

.search-form
    .form-group:first-of-type
        width: 100%;
        display: flex;

    .sep-box
        background: #FFF;
        border-radius: 0.25em;
        padding: 1em;

/**** Search Results   */

.search-results-box,
.loading-search,
.empty-search-res,
.search-res-title,
._processing .search-res-container,
._processing .empty-search-res
    display: none;


._processing .loading-search,
._processing .search-results-box,
._processed .search-results-box,
._processed .search-res-title,
._no-results .empty-search-res
    display: block;


.search-res-title
    margin-bottom: 1em;

/*a*/.search-result
    // display: flex;
    // padding: 1em;
    // border-radius: 0.25em;
    // border: 1px solid grey;
    // margin-bottom: 1em;

    // &:last-of-type
    //     margin: 0;
    //     text-decoration: none;
    //     color: inherit;

    /*h5*/.title
        margin-bottom: .25em;

    p
        margin: 0;
