.search-mod
    +media('sm')
        float right

    input
        border-radius 0

/*form*/.search-form-bg
    background #FFF
    overflow hidden
    height 41px
    border-radius 0.25rem
    

.search-overlay
    display none
    z-index -1
    
    .icon-close
        position absolute
        right 1em
        top 1em
        height 1.5em
        width 1.5em
        padding .25em
        background rgba($black, 0.5)
        color $white
        z-index 10
        border-radius 50%
        cursor pointer

    .inner-wrap
        position relative
        min-height 100%
        text-align center
        padding 2em 1em 1em

    &._appended
        display block
        overflow scroll
        width 100%
        height 100%
        z-index 9876
        position fixed
        top 0
        left 0

._appended
    .bg-color
        background rgba(140, 153, 161, .95)
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        z-index -1
        
    .container-wrap
        border-radius 0.25em
        background rgba(255,255,255,0.2)
        display inline-block

        +media('sm')
            margin 5em 3em 3em

    .content
        display inline-block
        text-align left

.search-form
    .form-groupfirst-of-type
        width 100%
        display flex

    .sep-box
        background #FFF
        border-radius 0.25em
        padding 1em

/**** Search Results   */

.container-wrap
    +media('md')
        ._appended &
            max-width 650px;
            transition max-width 500ms ease-out
            
        ._processed &
            max-width 100%;

.search-results-box,
.loading-search,
.empty-search-res,
.search-res-title,
._processing .search-res-container,
._processing .empty-search-res
    display none


._processing .loading-search,
._processing .search-results-box,
._processed .search-results-box,
._processed .search-res-title,
._no-results .empty-search-res
    display block


.search-res-title
    margin-bottom 1em

/*a*/.search-result

    /*h5*/.title
        margin-bottom .25em

    p
        margin 0
