.search-mod
    +media('sm')
        float right

    input
        border-radius 0

/*form*/.search-form-bg
    background #FFF
    overflow hidden
    height em(41)
    border-radius 0.25rem
    

@import './search-overlay.styl';
@import './search-results.styl';
@import './advanced-options.styl';
