.search-overlay
    display none
    z-index -1

    .inner-wrap
        position relative
        min-height 100%
        text-align center

        +media('sm')
            padding 2em 1em 1em
    
    .icon-close
        position absolute
        right 1.1em
        top 1.1em
        height 1.5em
        width 1.5em
        padding .25em
        background rgba($black, 0.5)
        color $white
        z-index 10
        border-radius 50%
        cursor pointer

    .bg-color
        background rgba(140, 153, 161, .95)
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        z-index -1
        
    .container-wrap
        display inline-block
        width 100%
        transition max-width 500ms ease-out

        +media('sm')
            margin 3em 0 0
            max-width em(720)
            background rgba(255,255,255,0.2)
            border-radius 0.25em

        +media('md')
            margin 5em 3em 3em
            max-width em(950)


    .content
        display flex
        text-align left
        flex-wrap wrap-reverse

        +media('sm')
            flex-wrap nowrap

    &._appended
        display block
        overflow scroll
        width 100%
        height 100%
        z-index 9876
        position fixed
        top 0
        left 0

        #wpadminbar ~ &
            top 32px

    .error-row
        color $error-color
        margin-top 1em
        display none

        span
            display block

    &._has-errors
        .error-row
            display block;


    /**** Advanced Options ******/
    
    .search-options
        width 100%
        background $white
        border-radius 0.25em
        height min-content
        padding 1em

        +media('sm')
            max-width em(250)
            margin-right 1em

    .search-result
        @extends .col-12
        max-height em(425);
        overflow-y auto
        
        +media('sm')
            width 50%

    .search-form
        width 100%

        +media('sm')
            max-width em(700)
        
        .form-groupfirst-of-type
            width 100%
            display flex

        .sep-box
            background #FFF
            border-radius 0.25em
            padding 1em

    .submit-box
        position fixed
        z-index 2
        bottom .5em
        left 0
        width 100%

        +media('sm')
            position static

        .sep-box
            box-shadow 0 0 .25em $gold