.location-list
    margin-bottom: 2em;

.location-list .img-container,
.entity .img-container
    margin: 0 auto;
    padding-bottom: 40%;
    width: 100%;
    background-size: cover !important;

.location-list .text
    margin-top: 1em;
