.entity-list,
.search-entity
    .text-wrap
        padding 1em

    /*h4*/.title
        margin 0
    
/** single-cd-entity.php */
.profile-div
    padding-bottom 40%
    background-size cover !important
    margin 0 auto 1.5em

    +media('sm')
        width 75%

    +media('md')
        width 50%