.entity-list,
.search-entity
    .text-wrap
        padding 1em

    /*h4*/.title
        margin 0

.p-entity
    position relative

    .block-on-edit,
    .inline-block-on-edit,
    .empty-field
        display none !important

    .edit-bar
        display none
        position fixed
        left 0
        top em(100)
        padding 0.5em 0.5em 0.5em 2em
        background $light-grey2
        border-radius 0.25em
        color $white
        
        animation 2500ms ease-in-out 1 hideIntoLeft
        transition transform 500ms ease-in-out 2s
        transform translateX(-90%)

        +media('sm')
            display inline-block

        &:hover
            animation 250ms ease-out 0 1 slideInFromLeft
            transition transform 250ms ease-in 0s
            transform translateX(0)

        a
            padding 1em
            display block
            transition color
            color inherit
            text-align center
            margin-bottom .25em

            &:last-child
                margin 0

    &.editable
        .block-on-edit,
        .empty-field
            display block !important

        .inline-block-on-edit
            display inline-block !important

        .hide-on-edit
            display none !important

    .loader-box
        display none
        position fixed
        top 25%
        right 50%
        z-index 3
        background rgba($white, 0.9)
        padding 1.25em
        width 200px
        margin-right -100px
        border-radius 0.25em
        box-shadow 0 0 0.25em $gold

    &.loading
        .edit-bar,
        .save-row
            visibility hidden
        
        .loader-box
            display block

        .acf-fields
            opacity .5

    .acf-fields > .acf-field
        border none
        padding 5px 12px
        margin-bottom 2em

        &.acf-field-cd-entity-location-name,
        &.acf-field-cd-entity-about
            margin-bottom 0

    .acf-input
        width 100%
        max-width 100%
        margin 0 auto

        +media('sm')
            width 75%

        +media('lg')
            width 50%

        input[type="text"],
        input[type="number"],
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        input[type="url"],
        select
            padding 10px 20px

.p-profile
    padding-bottom 40%
    background-size cover !important
    margin 0 auto 1.5em
    position relative

    +media('sm')
        width 75%

    +media('md')
        width 50%

    > img
        position absolute
        z-index -1
        max-width 100%
        max-height 100%

.editable


    .acf-field-cd-entity-picture .acf-label,
    .acf-field-cd-entity-location-name .acf-label,
    .acf-field-cd-entity-about .acf-label,
    .acf-form-submit
        display none !important

    .acf-label,
    .acf-true-false,
    .acf-field-text
        text-align center

        input
            font-size 1em !important

    .acf-true-false
        input
            width 50px
            height 50px
    
    .acf-field-cd-entity-picture
        .acf-image-uploader
            display flex
            justify-content center
        
        .image-wrap

            max-width 100% !important

        img
            max-height 100% !important

    

    .acf-field-cd-entity-location-name
        font-size 2.5em

    .acf-field-cd-entity-contact-method,
    .acf-field-cd-entity-share-loc
        margin-top 3em !important
        padding-top 3em !important
        border-top 1px solid $light-grey !important

    

