ul.cd-offer-list,
ul.cd-need-list
    padding 0

.cd-on-single
    margin-bottom 1em

.on-preview
    max-width 355px
    margin 0 auto

.offers-needs-hashtags
    .single
        margin-bottom 0.5em

    a
        text-decoration none

        &.title
            text-decoration underline
            font-size larger

        &:hover
            font-weight bolder