/*ul*/.on-list
    padding 0

/** Offer Need Single */
.cd-on-single
    margin-bottom 1em

    &.active
        box-shadow 0 0 1em $gold

    .title
        margin-bottom: .75em;
        text-align: center;

    .tag
        display: block;


.on-preview
    max-width 355px
    margin 0 auto

.on-img-head
    text-align: center;
    margin-bottom: 1em;


.offers-needs-hashtags
    .single
        margin-bottom 0.5em

    a
        text-decoration none

        &.title
            text-decoration underline
            font-size larger

        &:hover
            font-weight bolder